body, html {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
}
header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.instructions {
    margin-bottom: 20px;
    background-color: #303030;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
}
.instructions h2 {
    margin-top: 0;
    font-weight: normal;
}
.instructions h3 {
    margin-top: 0;
    font-weight: normal;
}
.instructions ul {
    list-style-type: none;
    padding: 0;
}
.instructions li {
    margin-bottom: 10px;
}
.instructions li b {
    font-weight: 600;
}
#luma-lab-viewer {
    width: 60%;
    align-items: stretch;
    max-width: 900px;
    min-height: 500px;
    aspect-ratio: 16 / 9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd2a;
    position: relative;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

iframe{
    width: 60%;
    height: 60%;
    min-height: 400px;
}
@media (max-width: 600px) {
    .instructions {
        max-width: 90%;
        padding: 10px;
    }
}
